.mediaViewInfo {
	--web-view-name: Actor;
	--web-view-id: Actor;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Actor;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Actor {
	position: absolute;
	width: 576px;
	height: 611px;
	overflow: hidden;
	--web-view-name: Actor;
	--web-view-id: Actor;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#abni53fw {
	position: absolute;
	width: 576px;
	height: 611px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.profile-img {
	position: absolute;
	overflow: visible;
	width: 100px;
	height: 100px;
	left: 20px;
	top: 59px;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 219px;
	height: 1px;
	left: 69.5px;
	top: 45.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Name {
	left: 67px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,139,119,1);
}
#Species {
	left: 300px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,139,119,1);
}
#Gender {
	left: 434px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,139,119,1);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 123px;
	height: 1px;
	left: 300.5px;
	top: 45.5px;
	transform: matrix(1,0,0,1,0,0);
}
#name-input {
	left: 68px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#motivation-group {
	position: absolute;
	width: 218.5px;
	height: 31px;
	left: 300px;
	top: 58px;
	overflow: visible;
}
#Line_15 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_15 {
	overflow: visible;
	position: absolute;
	width: 218px;
	height: 1px;
	left: 0.5px;
	top: 16.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Motivation {
	left: 0px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,139,119,1);
}
#motivation-input {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#species-input {
	left: 300px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#gender-input {
	left: 434px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 84px;
	height: 1px;
	left: 435.5px;
	top: 45.5px;
	transform: matrix(1,0,0,1,0,0);
}
#background-group {
	position: absolute;
	width: 154px;
	height: 48px;
	left: 300px;
	top: 109px;
	overflow: visible;
}
#background-1 {
	left: 0.5px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#background-2 {
	left: 0.5px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#background-3 {
	left: 0.5px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#Line_16 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_16 {
	overflow: visible;
	position: absolute;
	width: 154px;
	height: 1px;
	left: 0px;
	top: 16.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_17 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_17 {
	overflow: visible;
	position: absolute;
	width: 154px;
	height: 1px;
	left: 0px;
	top: 30.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_18 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_18 {
	overflow: visible;
	position: absolute;
	width: 154px;
	height: 1px;
	left: 0px;
	top: 43.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_12 {
	position: absolute;
	width: 26px;
	height: 19px;
	left: 127.5px;
	top: 14px;
	overflow: visible;
}
#background-2-points {
	left: 12px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
input {
	background-color:  rgba(87,87,87,0);
}
# {
	left: 0px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(87,87,87,0.949);
}
#Group_14 {
	position: absolute;
	width: 26px;
	height: 19px;
	left: 127.5px;
	top: 28px;
	overflow: visible;
}
#background-3-points {
	left: 12px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#_ {
	left: 0px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(87,87,87,0.949);
}
#Group_13 {
	position: absolute;
	width: 26px;
	height: 19px;
	left: 127.5px;
	top: 0px;
	overflow: visible;
}
#background-1-points {
	left: 12px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#_ba {
	left: 0px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(87,87,87,0.949);
}
#bloodied-group {
	position: absolute;
	width: 66px;
	height: 33px;
	left: 132px;
	top: 91px;
	overflow: visible;
}
#Bloodied {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#bloodied-value {
	left: 26px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#movement-group {
	position: absolute;
	width: 74px;
	height: 36px;
	left: 209px;
	top: 124px;
	overflow: visible;
}
#Movement {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#movement-value {
	left: 33px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#thp-group {
	position: absolute;
	width: 72px;
	height: 35px;
	left: 128px;
	top: 124px;
	overflow: visible;
}
#Temp_HP {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#thp-values-group {
	position: absolute;
	width: 50px;
	height: 19px;
	left: 12px;
	top: 16px;
	overflow: visible;
}
#thp-current {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#thp-max {
	left: 26px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11px;
	left: 24.5px;
	top: 3.5px;
	transform: matrix(1,0,0,1,0,0);
}
#hp-group {
	position: absolute;
	width: 74px;
	height: 33px;
	left: 128px;
	top: 58px;
	overflow: visible;
}
#Hit_Points {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#hp-values-group {
	position: absolute;
	width: 50px;
	height: 19px;
	left: 12px;
	top: 15px;
	overflow: visible;
}
#hp-current {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#hp-max {
	left: 26px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#Line_4_bs {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_bs {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11px;
	left: 24.5px;
	top: 3.5px;
	transform: matrix(1,0,0,1,0,0);
}
#XP {
	left: 505px;
	top: 86px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#Backgrounds {
	left: 329px;
	top: 86px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#fate-group {
	position: absolute;
	width: 28px;
	height: 34px;
	left: 232px;
	top: 58px;
	overflow: visible;
}
#Fate {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#fate {
	left: 10px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#resolve-group {
	position: absolute;
	width: 55px;
	height: 35px;
	left: 219px;
	top: 91px;
	overflow: visible;
}
#Resolve {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#resolve {
	left: 23px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#Line_5 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 64px;
	height: 1px;
	left: 133.5px;
	top: 90.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_23 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_23 {
	overflow: visible;
	position: absolute;
	width: 64px;
	height: 1px;
	left: 214.5px;
	top: 90.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_18 {
	position: absolute;
	width: 82px;
	height: 56px;
	left: 472px;
	top: 101px;
	overflow: visible;
}
#xp-total-group {
	position: absolute;
	width: 67px;
	height: 22px;
	left: 15px;
	top: 0px;
	overflow: visible;
}
#Total {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#total-xp {
	left: 39px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#Line_4_b {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_b {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11px;
	left: 37.5px;
	top: 5.5px;
	transform: matrix(1,0,0,1,0,0);
}
#xp-spent-group {
	position: absolute;
	width: 78px;
	height: 22px;
	left: 4px;
	top: 17px;
	overflow: visible;
}
#-_Spent {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: right;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#spent-xp {
	left: 50px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#Line_4_cb {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_cb {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11px;
	left: 48.5px;
	top: 5.5px;
	transform: matrix(1,0,0,1,0,0);
}
#xp-current-group {
	position: absolute;
	width: 82px;
	height: 22px;
	left: 0px;
	top: 34px;
	overflow: visible;
}
#Current {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#current-xp {
	left: 54px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: center;
	font-family: Typographer Rotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#Line_4_cf {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_cf {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11px;
	left: 52.5px;
	top: 5.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_12 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 64px;
	height: 1px;
	left: 11.5px;
	top: 36.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 54.902px;
	left: 205.5px;
	top: 86px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_20 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_20 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 54.902px;
	left: 294.5px;
	top: 86px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_21 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_21 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 54.902px;
	left: 460.5px;
	top: 89px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_6 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 64px;
	height: 1px;
	left: 133.5px;
	top: 124.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_22 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_22 {
	overflow: visible;
	position: absolute;
	width: 64px;
	height: 1px;
	left: 214.5px;
	top: 124.5px;
	transform: matrix(1,0,0,1,0,0);
}
/* #defense-group {
	position: absolute;
	width: 100px;
	height: 95px;
	left: 144px;
	top: 278px;
	overflow: visible;
}
#Defenses {
	position: absolute;
	width: 100px;
	height: 95px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Defense_Pent {
	position: absolute;
	width: 100px;
	height: 95px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text {
	position: absolute;
	width: 100px;
	height: 89px;
	left: 0px;
	top: 6px;
	overflow: visible;
}
#Base {
	left: 27px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	line-height: 5px;
	margin-top: -1px;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Armor {
	left: 58px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	line-height: 5px;
	margin-top: -1px;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Total_cs {
	left: 43px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	line-height: 5px;
	margin-top: -1px;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Water {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Fire {
	left: 77px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Ice {
	left: 0px;
	top: 37px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Elec {
	left: 85px;
	top: 37px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Dragon {
	left: 36px;
	top: 81px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Absorbtion {
	left: 31px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(51,51,51,1);
	letter-spacing: 1.6px;
}
#Layer_1 {
	position: absolute;
	width: 23px;
	height: 22px;
	left: 37px;
	top: 68px;
	overflow: visible;
}
#Rectangle_4 {
	position: absolute;
	width: 42px;
	height: 33px;
	left: 27px;
	top: 32px;
	overflow: visible;
}
#Shape_10 {
	position: absolute;
	width: 9px;
	height: 10px;
	left: 39px;
	top: 39px;
	overflow: visible;
}
#Polygon_1 {
	position: absolute;
	width: 63px;
	height: 60px;
	left: 17px;
	top: 15px;
	overflow: visible;
}
#Layer_5 {
	position: absolute;
	width: 13px;
	height: 20px;
	left: 20px;
	top: 3px;
	overflow: visible;
}
#Shape_14 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
.Shape_14 {
	overflow: visible;
	position: absolute;
	width: 17.668px;
	height: 21.217px;
	left: 71.383px;
	top: 44.815px;
	transform: matrix(1,0,0,1,0,0);
}
#Layer_3 {
	position: absolute;
	width: 15px;
	height: 24px;
	left: 62px;
	top: 0px;
	overflow: visible;
}
#Layer_4 {
	position: absolute;
	width: 11px;
	height: 17px;
	left: 10px;
	top: 46px;
	overflow: visible;
}
#Line_7 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 0.5px;
	height: 7px;
	left: 48.5px;
	top: 32.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_8 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_8 {
	overflow: visible;
	position: absolute;
	width: 9.354px;
	height: 9.354px;
	left: 48.5px;
	top: 39.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_9 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 9.372px;
	left: 38.5px;
	top: 39.5px;
	transform: matrix(1,0,0,1,0,0);
}
#dragon-defense {
	left: 44px;
	top: 72px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#ice-defense {
	left: 13px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 5px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#water-defense {
	left: 21px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#fire-defense {
	left: 66px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#elec-defense {
	left: 76px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#absorption-base {
	left: 29px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#absorption-armor {
	left: 62px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#absorption-total {
	left: 42px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#Line_19 {
	fill: transparent;
	stroke: rgba(255,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_19 {
	overflow: visible;
	position: absolute;
	width: 442px;
	height: 1px;
	left: 120.5px;
	top: 158.5px;
	transform: matrix(1,0,0,1,0,0);
} */