@font-face {
  font-family: TypographerRotunda;
  src: url(../ui/fonts/TypographerRotunda.ttf);
}

@font-face {
  font-family: Goudament;
  src: url(../ui/fonts/Goudament.ttf);
}

/* Global styles */
.window-app {
  font-family: "Goudament";
}

.app.window-app.taa.sheet.actor {
	min-width: 576px;
	min-height: 643px;
}

.app.window-app.taa.sheet.actor .window-content{
	background-image: url(../ui/actorsheet/actorbackground.png);
	/* min-width: 576px;
	min-height: 612px; */
}

.app.window-app.taa.sheet.actor .window-header.flexrow.draggable.resizable {
	background-image: url(../ui/actorsheet/actor-sheet-character-window-content.png);
}


/*-----Skill Tables------*/
.skills-title{
	display: flex;
    font-family: TypographerRotunda;
    font-size: 16px;
    border: 1px solid #736953a6;
		box-shadow: 0 0 8px 2px #8c272752 inset;
		margin-top: 3px;
}
.skills-title .section {
	margin: auto;
	width: 100%;
	border: 1px solid #736953a6;
	border-bottom: none;
	border-top: none;
	border-left: none;
	text-align: center;
}

.skills-table{
	width: 100%;
	display: flex;
}

.skills-table .container{
	overflow: auto;
	display: block;
	height: 260px;
	width: 50%;
}

.skills-table .container .subsection{
	padding: 0;
	border: 1px solid #736953a6;
	display: table;
	width: 100%;
	border-top: none;
	margin: 0;
}



.skills-table .container .subsection .header{
	display: table-row;
	box-shadow: 0 0 8px 2px #3e060652 inset;
}


.skills-table .container .subsection .header .item{
	display: table-cell;
	font-family: TypographerRotunda;
	padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.skills-table .container .subsection .list{
	display: table-row;
}

.skills-table .container .subsection .list:nth-child(odd){
	background-color: #58323224;
}

.skills-table .container .subsection .list .item{
	display: table-cell;
	border: 1px solid #736953a6;
    border-left: none;
    border-right: none;
    text-align: center;
    border-bottom: none;
    padding-left: 1px;
    padding-right: 1px;
	width: fit-content;
	vertical-align: middle;
	font-size: 16px;
	box-shadow: 0 0 4px 0px #00000075 inset;
}

.skills-table .container .subsection .list .item.stat{
	width: 50px;
}

.skills-table .container .subsection .list .item.input{
	width: 30px;
}
.skills-table .container .subsection .list .item.input .skill-input{
	width: inherit;
	text-align: inherit;
	font-family: Goudament;
	font-size: 16px;
}
.skills-table .container .subsection .list .item.control{
	font-size: 10px;
}


.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.stats-table{
	border: 1px solid #736953a6;
    width: fit-content;
    border-top: none;
}

.stats-table .stat-row {
	text-align: center;
	display: table-row;
}

.stats-table .stat-row .stat-item{
	margin:auto;
	border: 1px solid #736953a6;
	display: table-cell;
	width: 12%;
	border-bottom: none;
	border-right: none;
	font-size: 16px;
	box-shadow: 0 0 4px #00000052 inset;
}

.stats-table .stat-row .stat-input{
	font-family: Goudament;
	text-align:center;
	width: 100%;
	font-size: 16px
}

.stats-table .stat-row .stat-header{
	font-family: TypographerRotunda;
	margin:auto;
	border: 1px solid #736953a6;
	display: table-cell;
	border-bottom: none;
	border-right: none;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 16px;
	background: rgba(99, 99, 99, 0.1);
	box-shadow: 0 0 4px #00000075 inset;
}

.stats-table .stat-row .stat-item.rollable {
	font-family: TypographerRotunda;
  font-weight: bold;
  color: #562727;
  box-shadow: 0 0 8px 2px #3e060652 inset;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to taa sheets */
.taa .item-form {
  font-family: "Roboto", sans-serif;
}

.taa .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.taa .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
	margin-right: 10px;
}

.taa .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.taa .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.taa .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.taa .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}


.navigation {
  display: inline-flexbox;
  position: relative;
  top: 160px;
}

.navigation .item {
  font-family: TypographerRotunda;
  font-size: 18px;
}

.tab-body {
  position: relative;
  top: 165px;
	/* background-color: wheat; */
	margin-left: 20px;
	margin-right: 20px;
	max-height: fit-content;
}

.taa .sheet-body,
.taa .sheet-body .tab,
.taa .sheet-body .tab .editor {
  height: 100%;
}

.taa .tox .tox-editor-container {
  background: #fff;
}

.taa .tox .tox-edit-area {
  padding: 0 8px;
}

.taa .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.taa .tabs {
  height: 30px;
  border-top: 2px solid #aba28f;
	border-bottom: 2px solid #aba28f;
	position: relative;
	top: 163px;
}

.taa .tabs.item-sheet {
	position: relative;
	top: unset;
}

.taa .tabs .item {
  line-height: 30px;
  font-size: 16px;
  font-family: TypographerRotunda;
}

.taa .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.taa .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.taa .items-list .item-header {
  font-weight: bold;
}

.taa .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.taa .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.taa .items-list .item img {
  display: block;
}

.taa .items-list .item-name {
  margin: 0;
}

.taa .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

.mediaViewInfo {
	--web-view-name: Actor;
	--web-view-id: Actor;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Actor;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Actor {
	position: absolute;
	width: 576px;
	height: 611px;
	overflow: hidden;
	--web-view-name: Actor;
	--web-view-id: Actor;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#abni53fw {
	position: absolute;
	width: 576px;
	height: 611px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.profile-img {
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 100px;
	left: 20px;
	top: 59px;
	border: none;
	box-shadow: 0 0 8px 2px #00000052 inset
}
#Line_1 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 219px;
	height: 1px;
	left: 69.5px;
	top: 45.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Name {
	left: 67px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,139,119,1);
}
#Species {
	left: 300px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,139,119,1);
}
#Gender {
	left: 434px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,139,119,1);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 123px;
	height: 1px;
	left: 300.5px;
	top: 45.5px;
	transform: matrix(1,0,0,1,0,0);
}
#name-input {
	left: 68px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#motivation-group {
	position: absolute;
	width: 218.5px;
	height: 31px;
	left: 300px;
	top: 58px;
	overflow: visible;
}
#Line_15 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_15 {
	overflow: visible;
	position: absolute;
	width: 218px;
	height: 1px;
	left: 0.5px;
	top: 16.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Motivation {
	left: 0px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,139,119,1);
}
#motivation-input {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#species-input {
	left: 300px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}
#gender-input {
	left: 434px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 84px;
	height: 1px;
	left: 435.5px;
	top: 45.5px;
	transform: matrix(1,0,0,1,0,0);
}
#background-group {
	position: absolute;
	width: 154px;
	height: 48px;
	left: 300px;
	top: 109px;
	overflow: visible;
}
#background-1 {
	left: 0.5px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#background-2 {
	left: 0.5px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#background-3 {
	left: 0.5px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#Line_16 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_16 {
	overflow: visible;
	position: absolute;
	width: 154px;
	height: 1px;
	left: 0px;
	top: 16.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_17 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_17 {
	overflow: visible;
	position: absolute;
	width: 154px;
	height: 1px;
	left: 0px;
	top: 30.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_18 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_18 {
	overflow: visible;
	position: absolute;
	width: 154px;
	height: 1px;
	left: 0px;
	top: 43.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_12 {
	position: absolute;
	width: 26px;
	height: 19px;
	left: 127.5px;
	top: 14px;
	overflow: visible;
}
#background-2-points {
	left: 12px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
input {
	background-color:  rgba(87,87,87,0);
}
# {
	left: 0px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(87,87,87,0.949);
}
#Group_14 {
	position: absolute;
	width: 26px;
	height: 19px;
	left: 127.5px;
	top: 28px;
	overflow: visible;
}
#background-3-points {
	left: 12px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#_ {
	left: 0px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(87,87,87,0.949);
}
#Group_13 {
	position: absolute;
	width: 26px;
	height: 19px;
	left: 127.5px;
	top: 0px;
	overflow: visible;
}
#background-1-points {
	left: 12px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#_ba {
	left: 0px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(87,87,87,0.949);
}
#bloodied-group {
	position: absolute;
	width: 66px;
	height: 33px;
	left: 132px;
	top: 91px;
	overflow: visible;
}
#Bloodied {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#bloodied-value {
	left: 26px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#movement-group {
	position: absolute;
	width: 74px;
	height: 36px;
	left: 209px;
	top: 124px;
	overflow: visible;
}
#Movement {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#movement-value {
	left: 33px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#thp-group {
	position: absolute;
	width: 72px;
	height: 35px;
	left: 128px;
	top: 124px;
	overflow: visible;
}
#Temp_HP {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#thp-values-group {
	position: absolute;
	width: 50px;
	height: 19px;
	left: 12px;
	top: 16px;
	overflow: visible;
}
#thp-current {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#thp-max {
	left: 26px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11px;
	left: 24.5px;
	top: 3.5px;
	transform: matrix(1,0,0,1,0,0);
}
#hp-group {
	position: absolute;
	width: 74px;
	height: 33px;
	left: 128px;
	top: 58px;
	overflow: visible;
}
#Hit_Points {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#hp-values-group {
	position: absolute;
	width: 50px;
	height: 19px;
	left: 12px;
	top: 15px;
	overflow: visible;
}
#hp-current {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#hp-max {
	left: 26px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(87,87,87,0.949);
}
#Line_4_bs {
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_bs {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11px;
	left: 24.5px;
	top: 3.5px;
	transform: matrix(1,0,0,1,0,0);
}
#XP {
	left: 505px;
	top: 86px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#Backgrounds {
	left: 329px;
	top: 86px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#fate-group {
	position: absolute;
	width: 28px;
	height: 34px;
	left: 232px;
	top: 58px;
	overflow: visible;
}
#Fate {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#fate {
	left: 10px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#resolve-group {
	position: absolute;
	width: 55px;
	height: 35px;
	left: 219px;
	top: 91px;
	overflow: visible;
}
#Resolve {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#resolve {
	left: 23px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#Line_5 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 64px;
	height: 1px;
	left: 133.5px;
	top: 90.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_23 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_23 {
	overflow: visible;
	position: absolute;
	width: 64px;
	height: 1px;
	left: 214.5px;
	top: 90.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_18 {
	position: absolute;
	width: 82px;
	height: 56px;
	left: 472px;
	top: 101px;
	overflow: visible;
}
#xp-total-group {
	position: absolute;
	width: 67px;
	height: 22px;
	left: 15px;
	top: 0px;
	overflow: visible;
}
#Total {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#total-xp {
	left: 39px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#Line_4_b {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_b {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11px;
	left: 37.5px;
	top: 5.5px;
	transform: matrix(1,0,0,1,0,0);
}
#xp-spent-group {
	position: absolute;
	width: 78px;
	height: 22px;
	left: 4px;
	top: 17px;
	overflow: visible;
}
#-_Spent {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: right;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#spent-xp {
	left: 50px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(87,87,87,0.949);
}
#Line_4_cb {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_cb {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11px;
	left: 48.5px;
	top: 5.5px;
	transform: matrix(1,0,0,1,0,0);
}
#xp-current-group {
	position: absolute;
	width: 82px;
	height: 22px;
	left: 0px;
	top: 34px;
	overflow: visible;
}
#Current {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Goudament;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#current-xp {
	left: 54px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: center;
	font-family: TypographerRotunda;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
#Line_4_cf {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_cf {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11px;
	left: 52.5px;
	top: 5.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_12 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 64px;
	height: 1px;
	left: 11.5px;
	top: 36.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 54.902px;
	left: 205.5px;
	top: 86px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_20 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_20 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 54.902px;
	left: 294.5px;
	top: 86px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_21 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_21 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 54.902px;
	left: 460.5px;
	top: 89px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_6 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 64px;
	height: 1px;
	left: 133.5px;
	top: 124.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_22 {
	opacity: 0.7;
	fill: transparent;
	stroke: rgba(147,139,119,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_22 {
	overflow: visible;
	position: absolute;
	width: 64px;
	height: 1px;
	left: 214.5px;
	top: 124.5px;
	transform: matrix(1,0,0,1,0,0);
}
#defense-group {
	position: absolute;
	width: 100px;
	height: 95px;
	left: 144px;
	top: 278px;
	overflow: visible;
}
#Defenses {
	position: absolute;
	width: 100px;
	height: 95px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Defense_Pent {
	position: absolute;
	width: 100px;
	height: 95px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text {
	position: absolute;
	width: 100px;
	height: 89px;
	left: 0px;
	top: 6px;
	overflow: visible;
}
#Base {
	left: 27px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	line-height: 5px;
	margin-top: -1px;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Armor {
	left: 58px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	line-height: 5px;
	margin-top: -1px;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Total_cs {
	left: 43px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	line-height: 5px;
	margin-top: -1px;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Water {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Fire {
	left: 77px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Ice {
	left: 0px;
	top: 37px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Elec {
	left: 85px;
	top: 37px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Dragon {
	left: 36px;
	top: 81px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(147,139,119,1);
	letter-spacing: 1.6px;
}
#Absorbtion {
	left: 31px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(51,51,51,1);
	letter-spacing: 1.6px;
}
#Layer_1 {
	position: absolute;
	width: 23px;
	height: 22px;
	left: 37px;
	top: 68px;
	overflow: visible;
}
#Rectangle_4 {
	position: absolute;
	width: 42px;
	height: 33px;
	left: 27px;
	top: 32px;
	overflow: visible;
}
#Shape_10 {
	position: absolute;
	width: 9px;
	height: 10px;
	left: 39px;
	top: 39px;
	overflow: visible;
}
#Polygon_1 {
	position: absolute;
	width: 63px;
	height: 60px;
	left: 17px;
	top: 15px;
	overflow: visible;
}
#Layer_5 {
	position: absolute;
	width: 13px;
	height: 20px;
	left: 20px;
	top: 3px;
	overflow: visible;
}
#Shape_14 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
.Shape_14 {
	overflow: visible;
	position: absolute;
	width: 17.668px;
	height: 21.217px;
	left: 71.383px;
	top: 44.815px;
	transform: matrix(1,0,0,1,0,0);
}
#Layer_3 {
	position: absolute;
	width: 15px;
	height: 24px;
	left: 62px;
	top: 0px;
	overflow: visible;
}
#Layer_4 {
	position: absolute;
	width: 11px;
	height: 17px;
	left: 10px;
	top: 46px;
	overflow: visible;
}
#Line_7 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 0.5px;
	height: 7px;
	left: 48.5px;
	top: 32.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_8 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_8 {
	overflow: visible;
	position: absolute;
	width: 9.354px;
	height: 9.354px;
	left: 48.5px;
	top: 39.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_9 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 9.372px;
	left: 38.5px;
	top: 39.5px;
	transform: matrix(1,0,0,1,0,0);
}
#dragon-defense {
	left: 44px;
	top: 72px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#ice-defense {
	left: 13px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 5px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#water-defense {
	left: 21px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#fire-defense {
	left: 66px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#elec-defense {
	left: 76px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#absorption-base {
	left: 29px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#absorption-armor {
	left: 62px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#absorption-total {
	left: 42px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: JuniusSmallCaps;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(95,95,94,1);
	letter-spacing: 1.6px;
}
#Line_19 {
	fill: transparent;
	stroke: rgba(255,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_19 {
	overflow: visible;
	position: absolute;
	width: 442px;
	height: 1px;
	left: 120.5px;
	top: 158.5px;
	transform: matrix(1,0,0,1,0,0);
}
